<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine on

    #RewriteBase /agendapublic/public

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [QSA,L]
</IfModule>